:root{
    --corprimaria: #143083;
    --corsecundaria: #2b499c;

}
footer{
    font-family: "Nunito", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px; 
    background-color:#608bc06d;
    color: rgb(12, 1, 1); 
    font-size: 20px; 
    margin-top: 20vh;
}