:root {
  --corprimaria: #143083;
  --corsecundaria: #2b499c;
  --cordetalhes: #a8c6f169;
  --fontetextos: "Nunito", sans-serif;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

footer {
  font-family: var(--fontetextos);
  background-color: #adc5e9;
  padding: 10px 10px;
  overflow: hidden;
}

footer .container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap; 
}

.container {
  font-size: 1rem;
}

.ender {
  display: flex;
  justify-content: center;
  align-items: center;
}


.cont {
  align-items: center;
  padding-top: 30px;
  text-align: center;
}

.cont h4 {
  font-size: 1.2rem;
}

.info {
  padding-top: 30px;
  text-align: center;
}

.info h4 {
  font-size: 1.2rem;
}

.copy {
  font-weight: bold;
  font-style: italic;
  padding-top: 3px;
  text-align: center;
}

.divisorCopy {
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.94);
}

/* MEDIA QUERIES */

/* Tablet e menor */
@media (max-width: 1024px) {
  footer {
    height: auto; /* altura automática para conteúdo */
    padding: 20px 10px;
  }

  footer .container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }


  .cont h4,
  .info h4 {
    font-size: 1.1rem;
  }

  .copy {
    font-size: 0.9rem;
  }
}

/* Celular (até 767px) */
@media (max-width: 767px) {
  footer {
    height: auto;
    padding: 15px 5px;
  }

  footer .container {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .cont h4,
  .info h4 {
    font-weight: bold;
    font-size: 1rem;
  }

  .copy {
    font-size: 0.8rem;
  }
}
