:root{
    --corprimaria: #143083;
    --corsecundaria: #2b499c;
    --cordetalhes: #608BC0 ;

}

nav {
    font-family: "Nunito", sans-serif; 
    height: 120px;
    color: white;

}


.nav-item{
    font-size: 1rem;
    padding: 25px;
    margin-left: 20px;
    margin-right: 90px;
}
.nav-link{
    color: black;
}
.nav-link:hover{
    color: var(--corprimaria);
}

.nav-link:active {
  transform: scale(0.97);
}
.icones{
    
    padding-left: 20px;
    color:  var(--corsecundaria);
    font-size: 1.5rem;
}

.icones:hover{
    color: var(--corprimaria);
}
.btnModoEscuro{
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
}