:root{
    --corprimaria: #143083;
    --corsecundaria: #2b499c;
    --cordetalhes: #608BC0 ;

}

header {
    font-family: "Nunito", sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
    
}
#logo {
  margin-left: -80px;
  width: 150px;
  height: auto;
}

.paginas{
    color:rgb(8, 0, 0);
    text-decoration: none;
    margin-left: 15px; 
}

.paginas:hover{
    font-size: 21px;
    text-decoration: underline var(--corprimaria);
    text-underline-offset: 10px;
    transition: 0.1s ease-in-out;
}
.contato{
    border: none;
    background:  #608BC0;
    border-radius: 20px;
    color: rgb(255, 255, 255); 
    font-size: 1rem;
    width: 100px;
    height:35px;
    text-align: center;
}



.contato:hover{
    cursor: pointer;
    background: var(--corprimaria); 
    color: white;
}

.icones{
    color:  #608BC0;
    font-size: 35px;
}

.btnModoEscuro{
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
}