 :root{
  --escuroCorPrimaria: #0F172A;
  --escuroCorSecundaria: #1E293B;
  --escuroCorTexto: #E2E8F0;

 }
 
 .modo-escuro {
      background-color: var(--escuroCorPrimaria);
      color: var(--escuroCorTexto);
       transition: background-color 0.3s, color 0.3s;
    }

body.modo-escuro #ModoEscuro {
      color: var(--escuroCorTexto);
    }
.modo-escuro #titulo{
  color: var(--escuroCorTexto);
}
.modo-escuro #sobreNos h1{
  color: var(--escuroCorTexto);
}
.modo-escuro #sobreNos h2{
  color: var(--escuroCorTexto);
}
.modo-escuro #sobreNos h4{
  color: var(--escuroCorTexto);
}

.modo-escuro #sobreNos p{
  color: var(--escuroCorTexto);
}
body.modo-escuro .navbar img{
    filter: brightness(0) invert(1);

}
.modo-escuro #nossosServicos h1{
  color: var(--escuroCorTexto);
}
body.modo-escuro #desc {
      color: var(--escuroCorTexto);
    }

body.modo-escuro .navbar{
  background-color: var(--escuroCorSecundaria) !important;
}
body.modo-escuro .nav-link{
  color: var(--escuroCorTexto) !important;
}
body.modo-escuro .nav-link:hover{
  color: #a8c6f169 !important;
}
body.modo-escuro .nav-item i{
  color: var(--escuroCorTexto);
}
body.modo-escuro .nav-item i:hover{
  color: #a8c6f169;
}
body.modo-escuro #paginaInicial {
      background: var(--escuroCorPrimaria);
      transition: background-color 0.3s, color 0.3s;
    }

body.modo-escuro .containerGrid{
        background: var(--escuroCorPrimaria);
      transition: background-color 0.3s, color 0.3s;
}

body.modo-escuro #horariosAgendamentos{
  background-color: var(--escuroCorPrimaria);
}
body.modo-escuro #horariosAgendamentos i{
  color: rgb(103, 127, 183);
}

body.modo-escuro .box1 {
      background: var(--escuroCorSecundaria);
      color: var(--escuroCorTexto);
      transition: background-color 0.3s, color 0.3s;
    }

body.modo-escuro .box2 {
      background: var(--escuroCorSecundaria);
      color: var(--escuroCorTexto);
      transition: background-color 0.3s, color 0.3s;
    }

body.modo-escuro #sobreNos {
      background: var(--escuroCorPrimaria);
      color: var(--escuroCorTexto);
      transition: background-color 0.3s, color 0.3s;
    }

.modo-escuro .contato {
      background-color: var(--corprimaria);
      color: white;
      transition: background-color 0.3s, color 0.3s;
    }

.modo-escuro .contato:hover {
      background-color: var(--corsecundaria);
      transition: background-color 0.3s, color 0.3s;
    }

.modo-escuro .redesSociais {
      color: var(--corprimaria);
      transition: background-color 0.3s, color 0.3s;
    }

    .modo-escuro .item{
      box-shadow: 5px 5px 10px var(--corprimaria) ;
      background-color: var(--escuroCorTexto);
    }
.modo-escuro #nossaLocalizacao{
  background-color: var(--escuroCorPrimaria);
}
.modo-escuro #nossaLocalizacao h2{
  color: var(--escuroCorTexto);
}
.modo-escuro #nossaLocalizacao p{
  color: var(--escuroCorTexto);
}
.modo-escuro footer{
  background: var(--escuroCorSecundaria);
}
.modo-escuro footer img{
    filter: brightness(0) invert(1);

}
